<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
</head>
<body>
	<h3 th:text="${titulo}"></h3>
	<div class="container">
		<form th:action="@{/form}" method="post" th:object="${usuario}">

			<div class="form-group row">
				<label for="habilitar" class="col-form-label col-sm-2">Habilitar</label>
				<div class="row col-sm-4">
					<input type="checkbox" id="habilitar" th:field="*{habilitar}"
						class="form-control col-sm-1">
				</div>
				<div th:if="${#fields.hasErrors('habilitar')}"
					th:errors="*{habilitar}"></div>
			</div>

			<div class="form-group row">
				<label for="genero" class="col-form-label col-sm-2">Genero</label>
				<div th:each="generos: ${genero}" class="row col-sm-2">
					<input class="form-control col-sm-2" type="radio" th:value="${generos}"
						th:field="*{genero}"> 
						<label class="col-sm-2 col-form-label" th:for="${#ids.prev('genero')}" th:text="${generos}"></label>
				</div>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}"></div>
			</div>

			<div class="form-group row">
				<label for="pais" class="col-form-label col-sm-2">Pais</label>
				<div  class="col-sm-4">
					<select id="pais" th:field="*{pais}" class="form-control">
						<option value="">-- Seleccionar --</option>
						<option th:each="pais: ${listaPaises}" th:text="${pais.nombre}"
							th:value="${pais.id}"></option>

					</select>
				</div>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></div>
			</div>
			<div class="form-group row">

				<label class="col-form-label col-sm-2">Roles</label>
				<div th:each="rol: ${listaRoles1}"  class="row col-sm-2">

					<input class="form-control col-sm-2" type="checkbox" th:field="*{roles}"
						th:value="${rol.id}"
						th:checked="${#lists.contains(usuario.roles, rolesss)}"> 
						<label  class="col-sm-2 col-form-label"
						th:for="${#ids.prev('roles')}" th:text="${rol.nombre}"></label>
				</div>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div>
			</div>

			<div class="form-group row">
				<label for="id" class="col-form-label col-sm-2">identificador</label>
				<div  class="col-sm-4">
					<input class="form-control" type="text" id="id" th:field="*{id}">
				</div>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></div>
			</div>
			<div class="form-group row">
				<label for="nombre" class="col-form-label col-sm-2">Nombre</label>
				<div class="col-sm-4">
					<input class="form-control" type="text" id="nombre"
						th:field="*{nombre}">
				</div>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
			</div>

			<div class="form-group row">
				<label for="apellido" class="col-form-label col-sm-2">Apellido</label>
				<div class="col-sm-4">
					<input class="form-control" type="text" id="apellido"
						th:field="*{apellido}">
				</div>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('apellido')}"
					th:errors="*{apellido}"></div>
			</div>

			<div class="form-group row">
				<label for="username" class="col-form-label col-sm-2">Nombre de Usuario</label>
				<div class="col-sm-4">
					<input class="form-control" type="text" id="username"
						th:field="*{username}">
				</div>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('username')}"
					th:errors="*{username}"></div>
			</div>
			<div class="form-group row">
				<label for="password" class="col-form-label col-sm-2">Contraseña</label>
				<div class="col-sm-4">
					<input class="form-control" type="password" id="password"
						th:field="*{password}">
				</div>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('password')}"
					th:errors="*{password}"></div>
			</div>
			<div class="form-group row">
				<label for="email" class="col-form-label col-sm-2">Correo</label>
				<div class="col-sm-4">
					<input class="form-control" type="text" id="email"
						th:field="*{email}">
				</div>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
			</div>
			<div class="form-group row">
				<label for="cuenta" class="col-form-label col-sm-2">Cuenta</label>
				<div class="col-sm-4">
					<input class="form-control" type="number" id="cuenta"
						th:field="*{cuenta}">
				</div>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('cuenta')}" th:errors="*{cuenta}"></div>
			</div>
			<div class="form-group row">
				<label for="fecha" class="col-form-label col-sm-2">Fecha Nacimiento</label>
				<div class="col-sm-4">
					<input class="form-control" type="date" id="fecha"
						th:field="*{fecha}" placeholder="yyyy/MM/dd">
				</div>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}"></div>
			</div>
			<div class="form-group row">
				<div>
					<input class="btn btn-primary" type="submit" value="Enviar">
				</div>
			</div>
			<input type="hidden" th:fied="*{valorSecreto}">

		</form>
	</div>
</body>
</html>